<ion-header>
  <ion-toolbar color="primary" translucent="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:white;">CommieFest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides autoplay="1000" loop="true" speed="1000" effect="flip">
    <!-- <app-slider [data]="ImageArray"></app-slider> -->
    <ion-slide *ngFor="let profil of ImageArray">
      <ion-card style="background-color:#3880FF;">
        <ion-card-content>
          <ion-img src="{{profil.image}}">

          </ion-img>
        </ion-card-content>
        <ion-card-content>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h1 style="text-align:left; color:white;">{{profil.nama}}</h1>

                </ion-col>
                <ion-col>
                  <h1 style="text-align:right; color:white;">{{profil.nim}}</h1>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-content>

      </ion-card>
      <!-- <ion-card style=" background-color:red;">

            <ion-card-content>

              <ion-img src="../assets/member/tepen.jpg" style=" height: 100%; width: 100%"></ion-img>


            </ion-card-content>
            <ion-card-header>
              <ion-card-title>
                <h1 style="color:white;">Steve</h1>
              </ion-card-title>
              <ion-card-subtitle style="color:white;">
                00000013433
              </ion-card-subtitle>
              <ion-card-subtitle>
                <h4 style="color:white;">Leader</h4>
              </ion-card-subtitle>
            </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="background-color:red;">
        <ion-card-content>

          <ion-img src="../assets/member/bias.jpg" style=" height: 100%; width: 100%"></ion-img>


        </ion-card-content>
        <ion-card-header>
          <ion-card-title>
            <h1 style="color:white;">Bassilius Bias A.C.</h1>
          </ion-card-title>
          <ion-card-subtitle style="color:white;">
            00000013536
          </ion-card-subtitle>
          <ion-card-subtitle>
            <h4 style="color:white;">Leader</h4>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="background-color:red;">
        <ion-card-content>

          <ion-img src="../assets/member/rangga.jpg" style=" height: 100%; width: 100%"></ion-img>


        </ion-card-content>
        <ion-card-header>
          <ion-card-title>
            <h1 style="color:white;">Rangga Dewa K.</h1>
          </ion-card-title>
          <ion-card-subtitle style="color:white;">
            00000013662
          </ion-card-subtitle>
          <ion-card-subtitle>
            <h4 style="color:white;">Member</h4>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="background-color:red;">
        <ion-card-content>

          <ion-img src="../assets/member/hans.jpg" style=" height: 100%; width: 100%"></ion-img>

        </ion-card-content>
        <ion-card-header>
          <ion-card-title>
            <h1 style="color:white;">Hans Aditia Lesmana</h1>
          </ion-card-title>
          <ion-card-subtitle style="color:white;">
            00000014142
          </ion-card-subtitle>
          <ion-card-subtitle>
            <h4 style="color:white;">Member</h4>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="background-color:red;">
        <ion-card-content>

          <ion-img src="../assets/member/fatan.jpg" style=" height: 100%; width: 100%"></ion-img>



        </ion-card-content>
        <ion-card-header>
          <ion-card-title>
            <h1 style="color:white;">Fathan Fadillah</h1>
          </ion-card-title>
          <ion-card-subtitle style="color:white;">
            00000013938
          </ion-card-subtitle>
          <ion-card-subtitle>
            <h4 style="color:white;">Member</h4>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card> -->
    </ion-slide>
  </ion-slides>
</ion-content>