<ion-header>
  <ion-toolbar color="primary" [class.show-background]="showToolbar" translucent="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Masuk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <div class="ion-padding-bottom">
    <h1 class="ion-text-center">Hai! Selamat Datang Kembali~</h1>
    <div class="ion-text-center">
      <ion-text color="danger" class="ion-text-center ion-padding-bottom" *ngIf="errorInfo != ''">
        {{ errorInfo }}
      </ion-text>
    </div>
  </div>
  <form #f="ngForm" (ngSubmit)="onLogin(f)">
    <div class="ion-padding-bottom">
      <ion-list>
        <ion-item>
          <ion-label position="fixed">E-Mail</ion-label>
          <ion-input required ngModel name="email" type="email" placeholder="Alamat email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Kata Sandi</ion-label>
          <ion-input required ngModel name="password" type="password" minlength='6' placeholder="Password ..."></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" [disabled]="!f.valid" type="submit">Masuk</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" fill="clear" color="primary" routerLink="/register">Daftar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-button expand="block" fill="outline" color="primary" (click)="googleLogin()">
        <ion-icon name="logo-google"></ion-icon>
        &nbsp; Login Dengan Akun Google!
      </ion-button>
    </ion-list>
  </form>
</ion-content>