<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu type="overlay" contentId="main-content">
      <ion-content>

        <ion-card class="hide-card ion-padding ion-no-margin" [ngStyle]="userCoverImgStyle">
          <img src="{{ (authService.isLoggedIn ? (authService.userData.photoURL ? authService.userData.photoURL : 'http://placehold.it/64x64') : 'http://placehold.it/64x64') }}" class="custom-avatar" />
          <h6 class="ion-no-margin">{{ authService.isLoggedIn ? (authService.userData.displayName ? authService.userData.displayName : 'User') : 'Pengunjung' }}</h6>
          {{ authService.isLoggedIn ? authService.userData.email : 'pengunjung@email.com' }}
        </ion-card>

        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item *ngIf="!p.shouldLogin || authService.isLoggedIn" [routerDirection]="'root'" [routerLink]="[p.url]"
              routerLinkActive="active">
              <ion-icon slot="start" [name]="p.icon" routerLinkActive="active"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-list-header>Lainnya</ion-list-header>
          <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Mode Gelap</ion-label>
            <ion-toggle id="themeToggle" slot="end" [checked]="darkMode"></ion-toggle>
          </ion-item>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="!authService.isLoggedIn" routerLinkActive="active" routerLink="/login">
              <ion-icon slot="start" name="log-in" routerLinkActive="active"></ion-icon>
              <ion-label>Login</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="!authService.isLoggedIn" routerLinkActive="active" routerLink="/register" style="cursor: pointer;">
              <ion-icon slot="start" name="person-add" routerLinkActive="active"></ion-icon>
              <ion-label>Register</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of miscPages">
            <ion-item *ngIf="!p.shouldLogin || authService.isLoggedIn" [routerDirection]="'root'" [routerLink]="[p.url]"
              routerLinkActive="active">
              <ion-icon slot="start" [name]="p.icon" routerLinkActive="active"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="authService.isLoggedIn" routerLinkActive="active" (click)="logout()" style="cursor: pointer;">
              <ion-icon slot="start" name="log-out" routerLinkActive="active"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content" [animated]="false"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
