<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Event List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <b>Event
    </b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Hadiah
    </b> &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;<b>Lokasi</b>
    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<b>Diselenggarakan</b><br><br>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start" color="primary"></ion-icon>
      {{item.title}} &nbsp; &nbsp;
      <ion-icon name="logo-usd" color="success"></ion-icon>
      {{item.hadiah}} &nbsp; &nbsp;
      <ion-icon name="pin" color="danger"></ion-icon>
      {{item.location}}
      <div class="item-note" slot="end">
        <ion-icon name="calendar" color="warning"></ion-icon>
        {{getDummyDate() | date}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>