<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <!-- <ion-buttons slot="primary">
      <ion-button button [routerLink]="['/edit', eventId]">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <ion-title>{{ event.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">

    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="event.imageUrl"></ion-img>
      </ion-col>
    </ion-row><br>

    <ion-title color="primary">Lokasi</ion-title>
    <ion-row style="border:2px solid;">
      <ion-col size="1">
        <ion-icon style="color:red;" name="pin"></ion-icon>
      </ion-col>
      <ion-col>

        <ion-label>{{event.location}}</ion-label>
      </ion-col>

    </ion-row><br>


    <ion-title color="primary">Deskripsi</ion-title>
    <ion-row>
      <ion-col style="text-align: justify;">

        <ion-label>{{event.description}}</ion-label>
      </ion-col>

    </ion-row>
    <!-- 


    <ion-row align-items-center>
      <ion-col>
        <ion-title>
          <ion-text color="success" *ngIf="event.ticketPrice <= 0">GRATIS</ion-text>
          <ion-text *ngIf="event.ticketPrice > 0">
            {{ event.ticketPrice | currency:'IDR':'symbol-narrow':'4.2-2' }}</ion-text>
        </ion-title>
      </ion-col>
    </ion-row> -->




    <h1 style="border:1px solid; color:blue;">
      <h1 style="background-color:blue; border: 2px solid; color:white; text-align: center;">Total Hadiah</h1>
      <h1 style="text-align: center;">
        <ion-label>{{event.pricePool | currency:'IDR':'symbol-narrow':'4.2-2' }}</ion-label>
      </h1>
    </h1>


    <ion-row>
      <ion-col>
        <ion-title>
          <ion-label color="primary" style="text-align: left;">Kategori</ion-label>
        </ion-title>
      </ion-col>

      <ion-col>
        <ion-title color="primary" style="text-align: right;">
          Biaya Pendaftaran

        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title>
          <ion-label style="text-align: left;">{{event.category}}</ion-label>
        </ion-title>
      </ion-col>

      <ion-col>
        <ion-title style="text-align: right;">
          <ion-text color="success" *ngIf="event.ticketPrice <= 0">GRATIS</ion-text>
          <ion-text *ngIf="event.ticketPrice > 0">
            {{ event.ticketPrice | currency:'IDR':'symbol-narrow':'4.2-2' }}</ion-text>
        </ion-title>
      </ion-col>
    </ion-row>

    <br />



    <ion-row>
      <ion-col>
        <ion-title style="text-align: left;">
          <ion-label color="primary">Mulai</ion-label>
        </ion-title>

      </ion-col>

      <ion-col>
        <ion-title style="text-align: right;">
          <ion-label color="primary">Selesai</ion-label>
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-title style="text-align: left;">
          <ion-label>{{event.dateStart | date}}</ion-label>
        </ion-title>

      </ion-col>

      <ion-col>
        <ion-title style="text-align: right;">
          <ion-label>{{event.dateEnd | date}}</ion-label>
        </ion-title>
      </ion-col>
    </ion-row>



  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="checkCreator()">
    <ion-fab-button color="secondary" [routerLink]="['/edit', eventId]" routerDirection="forward" color="primary">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>