<ion-header>
    <ion-toolbar color="primary" [class.show-background]="showToolbar" translucent="true">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Verifikasi Pendaftaran</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding-bottom">
    <h1 class="ion-text-center ion-padding-bottom">Hai! Selamat Datang & Bergabung Dengan Kami~</h1>
    <div class="ion-text-center">
      <ion-text color="success" class="ion-text-center ion-padding-bottom">
        Kami telah mengirimkan E-Mail konfirmasi ke <strong>{{ authService.userData.email }}</strong>. Harap cek dan klik link tersebut untuk mengaktifkan akun anda!
      </ion-text>
    </div>
  </div>
  <ion-button expand="block" (click)="authService.SendVerificationMail()">Kirim Ulang Link Verifikasi!</ion-button>
</ion-content>
