<ion-header>
  <ion-toolbar color="primary" translucent="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pencarian</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notifications" *ngIf="authService.currentUserValue != null">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge class="notifications-badge" color="danger">5</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-margin-bottom">
    <ion-col>
      <!-- <ion-searchbar showCancelButton="never" [value]="searchQuery" [(ngModel)] = "searchQuery" animated
      placeholder="Cari Event" (change)="search($event)">
    </ion-searchbar> -->
      <ion-searchbar showCancelButton="true" [(ngModel)]="searchTerm" (ionChange)="setFilteredEvents()" display>
      </ion-searchbar>
    </ion-col>
  </ion-row>

  <!-- TODO: List Kategori -->
  <ion-row class="ion-margin-bottom">
    <ion-chip color="primary">
      <ion-label>Kategori 0</ion-label>
    </ion-chip>
    <ion-chip color="secondary">
      <ion-label>Kategori 1</ion-label>
    </ion-chip>
    <ion-chip color="tertiary">
      <ion-label>Kategori 2</ion-label>
    </ion-chip>
    <ion-chip color="success">
      <ion-label>Kategori 3</ion-label>
    </ion-chip>
    <ion-chip color="warning">
      <ion-label>Kategori 4</ion-label>
    </ion-chip>
    <ion-chip color="danger">
      <ion-label>Kategori 5</ion-label>
    </ion-chip>
  </ion-row>

  <!-- TODO: Hasil Pencarian -->
  <!-- <ion-list class="ion-margin-bottom"> -->

  <!-- 
    <ion-item-group>
      <ion-item-divider>
        <h5>Kategori 0</h5>
      </ion-item-divider>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/shapes.svg" />
        </ion-thumbnail>
        <ion-label>
          <h3>Judul Event</h3>
          <p>Tanggal</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/shapes.svg" />
        </ion-thumbnail>
        <ion-label>
          <h3>Judul Event</h3>
          <p>Tanggal</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="/assets/shapes.svg" />
        </ion-thumbnail>
        <ion-label>
          <h3>Judul Event</h3>
          <p>Tanggal</p>
        </ion-label>
      </ion-item>

      <ion-item-divider>
        <h5>Kategori 1</h5>
      </ion-item-divider>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/shapes.svg" />
        </ion-thumbnail>
        <ion-label>
          <h3>Judul Event</h3>
          <p>Tanggal</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="/assets/shapes.svg" />
        </ion-thumbnail>
        <ion-label>
          <h3>Judul Event</h3>
          <p>Tanggal</p>
        </ion-label>
      </ion-item>

      <ion-item-divider>
        <h5>Kategori 2</h5>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="/assets/shapes.svg" />
        </ion-thumbnail>
        <ion-label>
          <h3>Judul Event</h3>
          <p>Tanggal</p>
        </ion-label>
      </ion-item>

    </ion-item-group> -->
  <ion-list *ngFor="let event of filterData">
    <ion-card button [routerLink]="['/edit', event.id]" name="detail">
      <img src="{{ event.imageUrl }}" alt="{{ event.name }}" style="width: 100%; height:256px;" />
      <ion-card-header>
        <ion-card-subtitle>
          <ion-row>
            <ion-col class="ion-text-start">
              <ion-icon name="pin" color="danger"></ion-icon>
              <ion-label> {{ event.location }} </ion-label>
            </ion-col>
            <ion-col class="ion-text-end">
              <ion-icon name="calendar" color="warning"></ion-icon>
              <ion-label> {{ event.dateStart | date }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-card-subtitle>
        <ion-row>
          <ion-col class="ion-text-start">
            <ion-card-title class="ion-text-start">{{ event.name }}</ion-card-title>
          </ion-col>
          <!-- <ion-col class="ion-text-end">
            <ion-icon button [routerLink]="['/details', event.id]" name="create" size="default"></ion-icon>
          </ion-col> -->
        </ion-row>
      </ion-card-header>

    </ion-card>
  </ion-list>

  <!-- </ion-list> -->

</ion-content>