<ion-header>
  <ion-toolbar color="primary" translucent="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Pencarian</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notifications">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge class="notifications-badge" color="danger">5</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row class="ion-margin-bottom">
    <ion-col>
      <ion-searchbar showCancelButton="never" [value]="searchQuery" animated
      placeholder="Cari Event">
    </ion-searchbar>
    </ion-col>
  </ion-row>

  <!-- TODO: List Kategori -->
  <ion-row class="ion-margin-bottom">
    <ion-chip color="primary">
      <ion-label>Kategori 0</ion-label>
    </ion-chip>
    <ion-chip color="secondary">
      <ion-label>Kategori 1</ion-label>
    </ion-chip>
    <ion-chip color="tertiary">
      <ion-label>Kategori 2</ion-label>
    </ion-chip>
    <ion-chip color="success">
      <ion-label>Kategori 3</ion-label>
    </ion-chip>
    <ion-chip color="warning">
      <ion-label>Kategori 4</ion-label>
    </ion-chip>
    <ion-chip color="danger">
      <ion-label>Kategori 5</ion-label>
    </ion-chip>
  </ion-row>

  <!-- TODO: Hasil Pencarian -->
  <ion-list class="ion-margin-bottom">

    <ion-item-group>
      <ion-item-divider>
        <h5>Kategori 0</h5>
      </ion-item-divider>

      <ion-item>
        <ion-label>Adam</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Alan</ion-label>
      </ion-item>

      <ion-item-divider>
        <h5>Kategori 1</h5>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Brianna</ion-label>
      </ion-item>

    </ion-item-group>

  </ion-list>

</ion-content>