<ion-header>
  <ion-toolbar color="primary" [class.show-background]="showToolbar" translucent="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="showToolbar && !isSearchBarOpened">Hi, {{ user['id'] }}!</ion-title>
    <!-- <ion-buttons slot="end"> -->
      <ion-searchbar *ngIf = "isSearchBarOpened" showCancelButton = "true" (ionCancel) = "isSearchBarOpened = false" [(ngModel)] = "searchTerm" (ionInput) = "setFilteredEvents()"></ion-searchbar>
      <ion-buttons slot = "end" >
        <button ion button slot ="icon-only" *ngIf = "!isSearchBarOpened" (click) = "isSearchBarOpened = true">
          <ion-icon slot = "icon-only " name = "search"></ion-icon>
        </button>
        <button ion-button slot = "icon-only" (click) = "filterData()">
          <ion-icon name = "funnel"></ion-icon>
        </button>
      <!-- </ion-buttons> -->
      <!-- <ion-searchbar slot = "end" [class.has-content]="!!searchTerm" [(ngModel)]="searchTerm" [showCancelButton]="true" display></ion-searchbar> -->
      <!-- <ion-button routerLink="/search">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button> -->
      <ion-button routerLink="/notifications">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge class="notifications-badge" color="danger">5</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">

  <div class="home-banner-image ion-margin-bottom" [ngStyle]="bannerImgStyle">
    <div class="home-banner-content">
      <div class="home-banner-content-data">
        <ion-text style="color: whitesmoke;">
          <h1>Hi, {{ user['name'] }}!</h1>
          Yuk Cari Event Disekitarmu Sekarang~
        </ion-text>
      </div>
    </div>
  </div>
  
  <!-- <div class="ion-padding-top ion-padding-bottom" *ngFor="let e of loadedEvents"> -->
  <div class="ion-padding-top ion-padding-bottom" *ngFor="let e of filterLoadedEvents">
    <ion-label class="ion-float-right ion-padding-end" color="primary" routerLink="/nearby">
      Lihat Semua!
    </ion-label>

    <ion-title>Ada Di Sekitar Anda ..</ion-title>
    <ion-card routerLink="/event/1">
      <img src="{{e.imageUrl}}" alt="" />
      <ion-card-header>
        <ion-card-subtitle>
          <ion-row>
            <ion-col>
              <ion-icon name="pin" color="danger"></ion-icon>
              <ion-label> {{e.location}} </ion-label>
            </ion-col>
            <ion-col class="ion-text-end">
              <ion-icon name="calendar" color="warning"></ion-icon>
              <ion-label color="warning"> {{getDummyDate() | date}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-card-subtitle>
        <ion-card-title>{{e.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{e.description}}
      </ion-card-content>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button expand="block" fill="none">
              <ion-icon name="wallet" color="success"></ion-icon> &nbsp;
              <ion-text color="success">{{e.ticketPrice | currency}}</ion-text>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-button expand="block">
              <ion-icon name="add"></ion-icon> &nbsp;
              <ion-text>Ikuti</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- <div class="ion-padding-top ion-padding-bottom">
    <ion-label class="ion-float-right ion-padding-end" color="primary" routerLink="/nearby">
      Lihat Semua!
    </ion-label>
    <ion-title>Paling Ramai ..</ion-title>
    <ion-card routerLink="/event/1">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>
          <ion-row>
            <ion-col>
              <ion-icon name="pin"></ion-icon>
              <ion-label> Lokasi</ion-label>
            </ion-col>
            <ion-col class="ion-text-end">
              <ion-icon name="calendar"></ion-icon>
              <ion-label> Sabtu, 26-10-2019</ion-label>
            </ion-col>
          </ion-row>
        </ion-card-subtitle>
        <ion-card-title>Judul Event Yang Agak Panjang</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Deskripsi Singkat Maksimal 2 Baris
      </ion-card-content>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button expand="block" fill="none">
              <ion-icon name="wallet"></ion-icon> &nbsp;
              <ion-text color="danger">Rp 1.234.567.890,-</ion-text>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-button expand="block">
              <ion-icon name="add"></ion-icon> &nbsp;
              <ion-text>Ikuti</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div> -->

</ion-content>